.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background: black url(../../../images/plus.svg) no-repeat center;
  object-fit: contain;
  cursor: pointer;
  transition: .3s;
  margin: 0 0 2px auto;
  padding: 0;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    margin: 32px auto auto 4px;
    width: 282px;
    height: 50px;
    background-size: 16px;
  }
}
